@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #64ffda; 
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background:#0a192f;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #64ffda #0a192f;
  }
}